* {
  margin: 0;
  padding: 0;
}
.img-width {
  width: 100%;
  height: 600px;
}

.container-middle-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: black;
}
